<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/dynamic.css">
    <script src="/js/viewport.js"></script>
</head>

<body>
<!--页面主体开始-->
<div class="ly_page cf">
    <!--发帖人开始-->
    <div class="ftUser cf">
        <img src="images/user.jpg" width="60" height="62" class="img" />
        <dl class="cf">
            <dt>用户名字名字名字</dt>
            <dd>
                <span class="key">[钓鱼]</span><span class="key">[发呆]</span>
            </dd>
        </dl>
        <ul>
            <li>10'<i></i></li>
            <li>1分钟前</li>
        </ul>
    </div>
    <!--发帖人结束-->
    <!--发帖内容开始-->
    <div class="ftContent">
        <div class="txt">
            测试文阿紫测试文阿紫测试文阿紫测试文阿紫测试文阿紫测试文阿紫测试文试文阿紫测试文阿紫测试文阿紫测试文阿紫测试文阿紫测试文阿紫测试文阿紫测试文阿紫测试文阿紫测试文阿紫
        </div>
        <div class="img cf">
            <a href="#"><img src="images/img.jpg" width="165" height="165" /></a>
            <a href="#"><img src="images/img.jpg" width="165" height="165" /></a>
            <a href="#"><img src="images/img.jpg" width="165" height="165" /></a>
            <a href="#"><img src="images/img.jpg" width="165" height="165" /></a>
            <a href="#"><img src="images/img.jpg" width="165" height="165" /></a>
        </div>
        <div class="info cf">
            <div class="dw">
                <i></i>上海浦东什么什么路什么什么号
            </div>
            <div class="btn">
                <a href="#" class="link1">45</a>
                <a href="#" class="link2">124</a>
            </div>
        </div>
    </div>
    <!--发帖内容结束-->
    <!--评论开始-->
    <div class="plBox">
        <dl class="cf">
            <dt><img src="images/user.jpg" width="60" height="62" class="img" /></dt>
            <dd>
                <p class="name">用户名字</p>
                <p class="info">
                    测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试试文字
                </p>
            </dd>
        </dl>
        <dl class="cf">
            <dt><img src="images/user.jpg" width="60" height="62" class="img" /></dt>
            <dd>
                <p class="name">用户名字</p>
                <p class="info">
                    回复 <span class="u">用户名</span>：测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试试文字
                </p>
            </dd>
        </dl>
    </div>
    <!--评论结束-->
</div>
<!--页面主体结束-->
<!--发表评论浮层开始-->
<div class="f_fabu">
    <input class="txt" type="text" placeholder="你怎么看" />
</div>
<!--发表评论浮层结束-->
</body>
</html>
