html { color: #000; background:#fff; font-family: Helvetica, STHeiti, Droidsansfallback;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin: 0; padding: 0 }
table { border-collapse: collapse; border-spacing: 0 }
fieldset, img { border: 0 }
address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; font-weight: normal }
ol, ul { list-style: none }
caption, th { text-align: left }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal }
q:before, q:after { content: '' }
abbr, acronym { border: 0; font-variant: normal }
sup { vertical-align: text-top }
sub { vertical-align: text-bottom }
input, textarea, select { font-family: inherit; font-size: inherit; font-weight: inherit; *font-size:100%;
}
legend { color: #000; }
input,
textarea{outline: none;} 
img{ display:block;}
a{ text-decoration:none;}
.cf:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.cf { zoom: 1;}
html,
body{ background:#FAFAFA;}

.ly_page{ width:640px; margin:0 auto; position:relative; overflow:hidden;}

.ftUser{ height:100px; overflow:hidden; box-sizing:border-box; padding:20px;}
.ftUser .img{ float:left;}
.ftUser dl{ float:left; margin-left:18px;}
.ftUser dt{ font-size:26px; color:#000; line-height:36px;}
.ftUser dd .key{ display:inline-block; color:#1BB6C5; font-size:22px; margin:0 2px;}
.ftUser ul{ float:right;}
.ftUser li{ font-size:24px; color:#9C9C9C; line-height:36px; text-align:right;}
.ftUser li i{ height:36px; width:20px; background:url('/images/ico.png') center no-repeat; margin-left:10px; display:inline-block; vertical-align:middle;}

.ftContent{ padding:0 20px 20px 20px; box-sizing:border-box;}
.ftContent .txt{ line-height:32px; font-size:26px; color:#000; margin-bottom:10px;}
.ftContent .img{ margin-bottom:10px;}
.ftContent .img a{ float:left; margin:0 6px 6px 0;}
.ftContent .info{ color:#9C9C9C; font-size:20px; line-height:30px;}
.ftContent .info .dw{ float:left;}
.ftContent .info .dw i{ display: inline-block; vertical-align: top; background:url('/images/ico2.png') center no-repeat; height:30px; margin-right:10px; width:20px;}
.ftContent .info .btn{ float:right;}
.ftContent .info .btn a{ color:#9C9C9C;font-size:20px; line-height:26x; height:26px;padding-left:35px; margin-left:10px;}
.ftContent .info .btn .link1{ background:url('/images/ico3.png') left center no-repeat;}
.ftContent .info .btn .link2{ background:url('/images/ico4.png') left center no-repeat;}

.plBox{ background:#F0F0F0; border-top:solid 1px #D1D1D1; padding:0 0 120px 20px; font-size: 20px}
.plBox dl{ border-bottom:solid 1px #d1d1d1; line-height:32px;}
.plBox dt{ float:left; width:60px; padding-top:26px;}
.plBox dd{ float:left; padding-left:10px; width:520px; padding:20px 0 20px 20px;}
.plBox dd .name{ color:#0067BC;}
.plBox dd .info{ color:#030303;}
.plBox dd .info .u{color:#0067BC;}

.f_fabu{ position:fixed; left:50%; width:640px; box-sizing:border-box; bottom:0; margin-left:-320px; overflow:hidden; height:82px; background:#F0F0F0; border-top:solid 1px #C2C2C2; padding:13px 20px 0 20px;}
.f_fabu .txt{ display:block; background:url('/images/ico4.jpg') no-repeat #fff; border:solid 1px #C2C2C2;box-sizing:border-box; height:56px; line-height:56px; border-radius:10px; width:100%; padding-left:55px; font-size:24px; color:#8D8D8D}

.download {
    position: fixed;
    bottom: 0px;
    max-width: 640px;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(/images/download-bg.png);
    height: 80px;
    background-repeat: repeat-x;
    opacity: 0.9;
}

.download img{max-height:77px;margin:0 auto;padding-top: 0px;padding-bottom: 0px}
.download a{margin-left:10px;margin-right:10px;padding-top: 3px;padding-bottom: 0px}









