<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <title>文章列表</title>
</head>
<body>
<div class="page-header"></div>
<div class='container'>
    <h3>文章列表：</h3>
    <br/>
    <table class='table table-bordered'>
        <tr>
            <td><h1>标题</h1></td>
            <td><h1>来源</h1></td>
        </tr>
        <% if (articleList){ %>
        <%  articleList.forEach(function (article){ %>
        <tr>
            <td><a href="/article/<%= article.id%>" target="_blank"><%= article.get("title")%></a>  </td>
            <td><%= article.get("from")%></td>
        </tr>
        <% })
        } %>
    </table>
</div>
<div class='container'>
    <footer class="footer">
        <p>Powered by <a href='https://cn.avoscloud.com'>AVOSCloud.com</a></p>
        <p>Source code: <a href='https://github.com/killme2008/cloudcode-test'>https://github.com/killme2008/cloudcode-test</a></p>
    </footer>
</div>
</body>
</html>
